@if(IsVisible)
{
    <div class="overlay" @onclick="() => IsVisible = IgnoreClick">
        <div class="overlay-content">
            @ChildContent
        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; } = false;
    [Parameter] public bool IgnoreClick { get; set; } = false;
    [Parameter] public RenderFragment? ChildContent { get; set; } = null;
}
